
<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]>
<!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-126131032-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-126131032-1');
</script>

	<meta charset="utf-8" />
    
    <!-- Website Title & Description -->
    <title>Organizacion Love Animals | Castraciones a bajo costo</title>
    <meta name="description" content="Asociacion Love Animals | Castraciones a bajo costo">
    
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    
    
    <!-- Included CSS Files -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"  type="text/css">
    <link rel="stylesheet" href="css/supersized.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/supersized.shutter.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    
	<!-- JS Files -->
	<script type="text/javascript" src="js/modernizr.js"></script>
	<script type="text/javascript" src="js/device.min.js"></script>
    
    <!-- Google Web Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Exo:200,400,600' rel='stylesheet' type='text/css'>  
    
  
    
</head>
<body>

	

	
    
    <!-- Slideshow Pattern    <div class="slideshow-pattern"></div>
    -->

    <section class="home-content">
	    <div class="container">
		    <div class="row">
		    	<div class="col-md-10 col-md-offset-1">
		    		<div id="home">
		    				<img id="logo" src="./img/logo.png" alt="">	
					       
				        <h1 class="animate" data-animate="fadeInDown">Proxima jornadas: </h1>
				        <!-- <p class="timer animate" data-animate="fadeInDown">
				          	<span class="days"></span><span class="daysText"></span><span class="separate">/</span> 
				          	<span class="hours"></span><span class="hoursText"></span><span class="separate">/</span>
				          	<span class="minutes"></span><span class="minutesText"></span><span class="separate">/</span>
				          	<span class="seconds"></span><span class="secondsText"></span> 
						</p>
						<div class="links animate" data-animate="bounceIn">
							<div class="col-md-4 col-md-offset-2 col-sm-4 col-sm-offset-2 col-xs-6">
								<a href="#" id="meetus" data-toggle="modal" data-target="#myModalFAQ">TENGO UNA CONSULTA</a>
							</div>
							<div class="col-md-4 col-sm-4 col-xs-6">
								<a id="link-map" href="#jornadas" >QUIERO CASTRAR</a>
							</div>
						</div> -->
						
					</div>
			    </div>
		    </div>
	    </div>
    </section>

    <!-- <section>
    	<div class="container">
		    <div class="row fondo-blanco">
		    	<div class="col-md-12 faq">

		    		<h3 class="center">Nuestras castraciones</h3>
    	
    	<p>Recordamos que nuestras castraciones son solidarias y muy accesibles <span>No gratuitas</span> ya que no disponemos de ninguna subvencion, remuneracion alguna de nadie para poder cubrir insumos, no pertenecemos al estado, ni tenemos vinculo alguno, nos conformamos de manera privada.</p>
    	<p>Es tarea y responsabilidad del ESTADO generar campañas de castracion gratuitas, simultaneas y sostenidas en el tiempo.</p>
    	<p>Estas campañas las realizamos un grupo de veterinarios  involucrados en la sobrepoblacion y problematica de la fauna, ante la realidad de un Estado ausente y/o ineficaz que no brinda presupuesto para este tipo de Salud Publica.</p>
    	<p>Los centros de zoonosis de cada Municipio, son quienes tienen que llevar a cabo la tarea de realizar castraciones gratuitas. Nosotros seguiremos realizando esta accion directa con el fin de ayudar a la Salud Publica  y reducir la poblacion de animales que dia a dia es ignorada por el ojo humano.</p>
    	<p>Demas esta aclarar, que cada dueño es libre de decidir donde atender a su animal de compañia, no hacemos esta labor para complacer a las personas, sino por el bienestar de los animales.</p>
    	<p><span>Agradecemos a los mas de 5.000 dueños responsables que confiaron en nuestro profesionalismo y vocacion, los cuales pudieron someter a cirugia  a sus animales de manera EXITOSA.</span></p>
		</div>

		
					</div>
			    </div>

    </section> -->

   	<!-- Modal -->
	<!-- <div id="myModalFAQ" class="modal fade meet-us" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<a href="#" class="close" data-dismiss="modal" aria-hidden="true">
			<span class="fa fa-close close-1"></span>
			<span class="fa fa-close close-2"></span>
		</a>
		<div class="modal-body">
			<div class="container">
				<div class="row modal-body-content">
					<div class="col-md-10 col-md-offset-1">
						<h2 id="myModalLabel" class="meet-us-title">PREGUNTAS FRECUENTES</h2>
						<div class="col-md-12 faq">
							
							
							<p class="pregunta">¿Que valor tiene la castración?</p>	
							<p>El valor es de <span>$700</span> por animal (incluye, perro o gato, hembra o macho).</p>

							<p class="pregunta">¿Es necesario exámenes pre-quirúrgicos y/o libreta de vacunación?</p>	
							<p>No es requisito tener exámenes pre-quirúrgicos ni plan de vacunación al día para acceder a nuestras campañas.</p>

							<p class="pregunta">¿Se castran hembras en celo y/o preñadas?</p>	
							<p>Si, se castran en celo. No es impedimento.</p>
							<p>No se castran preñadas a término, es decir que no se castra preñez que supere los 30 días.</p>

							<p class="pregunta">¿Qué edad debe tener mi animal para poder castrarlo?</p>	
							<p>Recomendamos que tu animal sea castrado a partir de los 5 meses hasta los 10 años aproximadamente (Siempre y cuando evaluemos  que se encuentre en buen estado general).</p>

							<p class="pregunta">¿Son médicos veterinarios matriculados?</p>	
							<p>Sí, por supuesto.</p>
							<p>De manera contraria no podríamos llevar más de <span>50.000 cirugías</span> realizadas con éxito, las cuales son fruto de nuestros años de experiencia y reconocimiento.</p>

							
						</div>
						
					</div>
				</div>
				
			</div>
		</div>
	</div> -->

		<!-- Modal -->
	<!-- <div id="myModalMiBarrio" class="modal fade meet-us" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<a href="#" class="close borde-blanco" data-dismiss="modal" aria-hidden="true">
			<span class="fa fa-close close-1 "></span>
			<span class="fa fa-close close-2 "></span>
		</a>
		<div class="modal-body">
			<div class="container">
				<div class="row modal-body-content">
					
						<div class="col-md-6 col-md-offset-3 contact">	
			            <h2>SUGERIR LOCALIDAD</h2>
			            <h4>Indiquenos donde le gustaria que realicemos una jornada de castracion a bajo costo.</h4>
			        	
			        	<form  id="contactform" >
			                <input type="text" name="nombre" id="nombre1" class="input contactformLocalidad" placeholder="Apellido y Nombre">
			                <input type="number" name="telefono" id="telefono1" class="input contactformLocalidad"  placeholder="Telefono">
							<input type="text" name="localidad" id="localidad" class="input contactformLocalidad" placeholder="Localidad">


							  <button class="button" type="submit" id="submitlocalidad" value="Send">
								<span class="fa fa-hand-o-right submit-1"></span>
			                    <span class="submit-2">Enviar</span>
							</button>
						</form>
						<div class="success-message-3"></div>
			            <div class="error-message-3"></div>  		
					</div>    

				</div>
				
			</div>
		</div>
	</div> -->


	<section id="jornadas">
		<div class="container">
		    <div class="row" id="jornadaslista">
		    	<div class="col-md-12 ">
		    		<!-- <h3 class="titulo">Proximas jornadas</h3> -->		    				
		    				<% jobs.forEach(function(data) { %>

		    					<div class="col-md-2" >
		    						<a href="#" class="fechaJornada" data-id="<%= data._id %>" data-localidad="<%= data.localidad %>" data-fecha="<%= moment(data.fecha).utcOffset('-0300').format('D/M/YYYY'); %>" data-toggle="modal" data-target="#myModal2" >
		  							
			  							<div class="cuadrado ">'							
										    <h5 class="center centerh5"><%= data.localidad %></h5>
										    <p class="center fecha"><%= moment(data.hora_prox_turno).tz("America/Argentina/Buenos_Aires").format('D/M/YYYY HH:mm'); %></p>
	    								</div>
    								</a> 
    							</div>
							<% }); %>				 
				</div>
			</div>
			  <!--  <div class="row">
		    	<div class="col-md-offset-3 col-md-6 col-md-offset-3">
		    		
		    			
						<div class="links animate links-sinBorde center" data-animate="bounceIn">
							
								
								<a href="#" id="meetus" data-toggle="modal" data-target="#myModalMiBarrio">SUGERIR LOCALIDAD</a>
							
						</div>
					
			    </div>
		    </div> -->
	 	</div>	

		

	</section>

	<!--<footer>
			<div class="container">

				
				<div class="row">
					<div class="col-md-12 back-to-top animate" data-animate="fadeInDown">
						<a href="#home" id="home-top">
							<span class="fa fa-chevron-up back-to-top-1"></span>
							<span class="fa fa-chevron-up back-to-top-2"></span>
						</a> 
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 ">
						<p class="footer-social animate" data-animate="fadeInUp">				
							<a href="https://www.facebook.com/OrgaLoAn/" title="Facebook" ><i class="fab fa-facebook-f"></i></a>
							<a href="https://www.instagram.com/orgaloan/" title="Instragram" ><i class="fab fa-instagram"></i></a>	
						</p>
					</div>

					 <div class="col-md-offset-3 col-md-3">
						<ul class="list-unstyled quienes-somos">
							<li><a href="#">Quienes Somos</a></li>
							<li><a href="#">Que hacemos</a></li>
							<li><a href="#">Contacto</a></li>

						</ul>									
					</div> 
				</div>
			</div>
		</footer>-->
    
    
    <div id="myModal2" class="modal fade meet-us" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    
	    	<a href="#" class="close" data-dismiss="modal" aria-hidden="true">
			<span class="fa fa-close close-1"></span>
			<span class="fa fa-close close-2"></span>
		</a>
		<div class="modal-body">
			<div class="container">
				<div class="row modal-body-content">
					
					<div class="col-md-6 col-md-offset-3 contact">	
			            <h2>SOLICITAR TURNO</h2>
			            <h4 >Recuerde, el turno es un compromiso de asistencia.</h4>
			            <h4 class="ocul">El valor es de <span>$700</span> por animal (incluye, perro o gato, hembra o macho).</h4>
			        
			        	<form  id="contactform"  >
			                <input type="text" id="nombre" name="name" class="input" placeholder="Apellido y Nombre">
			                <input type="number" id="telefono" name="telefono" class="input" placeholder="Telefono">
							<input type="email" id="email" name="email" class="input" placeholder="Email">
							<input type="number" id="dni" name="dni"  class="input" placeholder="DNI">

							<h4>Datos del/los animal/es:</h4>

							<select class="form-control" id="tipo">
							   <option>Seleccione Animal</option>
							   <option>PERRA</option>
							   <option>PERRO</option>
							   <option>GATA</option>
							   <option>GATO</option>
							</select>

							<select class="form-control" id="peso">
							    <option>Seleccione Peso Aprox.</option>
							    <option>1 a 10 Kg</option>
							    <option>10 a 15 Kg</option>
							    <option>15 a 20 Kg</option>
							    <option>Mas de 20 Kg</option>
							</select>

							<select class="form-control" id="cantidad">
							    <option>Cantidad de animales</option>
							    <option>1</option>
							    <option>2</option>
							    <option>3</option>
							</select>

							<label>¿Cree que su animal esta preñada?<input type="checkbox" name="preniado" id="preniado"></label>


							<button class="button" type="submit" value="Send" id="submit">
								<span class="fa fa-hand-o-right submit-1"></span>
			                    <span class="submit-2">Solicitar un turno</span>
							</button>
						</form>


						<div class="success-message-2"></div>
			            <div class="error-message-2"></div>  		
					</div>     
						
				
				</div>
				
			</div>
	    
		
	    
	
    </div>   


 
	<!-- Javascript -->
    <script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/detectmobilebrowser.js"></script>
    
    <script type="text/javascript" src="js/supersized.3.2.7.min.js"></script>
	<script type="text/javascript" src="js/supersized.shutter.min.js"></script>
	<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="js/jquery.scrollTo.min.js"></script>
	<script type="text/javascript" src="js/jquery.countdown.js"></script>
    <script type="text/javascript" src="js/waypoints.min.js"></script>
    <script type="text/javascript" src="js/images.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>
  
  
</body>
</html>
