
<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]>
<!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-126131032-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-126131032-1');
</script>

	<meta charset="utf-8" />
    
    <!-- Website Title & Description -->
    <title>Organizacion Love Animals | Castraciones a bajo costo</title>
    <meta name="description" content="Asociacion Love Animals | Castraciones a bajo costo">
    
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    
    
    <!-- Included CSS Files -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"  type="text/css">
    <link rel="stylesheet" href="css/supersized.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/supersized.shutter.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    
	<!-- JS Files -->
	<script type="text/javascript" src="js/modernizr.js"></script>
	<script type="text/javascript" src="js/device.min.js"></script>
    
    <!-- Google Web Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Exo:200,400,600' rel='stylesheet' type='text/css'>  
    
  
    
</head>
<body>



    <section class="home-content">
	    <div class="container">
		    <div class="row">
		    	<div class="col-md-10 col-md-offset-1">
		    		<div id="home">
		    				<img id="logo" src="./img/logo.png" alt="">	
					       
				        <h1 class="animate" data-animate="fadeInDown">Proxima jornadas: </h1>
				        
						
					</div>
			    </div>
		    </div>
	    </div>
    </section>

   



	<section id="jornadas">
		<div class="container">
		    <div class="row" id="jornadaslista">
		    	<div class="col-md-12 ">
		    		<!-- <h3 class="titulo">Proximas jornadas</h3> -->		    				
		    				<% jobs.forEach(function(data) { %>

		    					<div class="col-md-2" >
		    						<a href="#" class="fechaJornada" data-id="<%= data._id %>" data-localidad="<%= data.localidad %>" data-fecha="<%= moment(data.fecha).utcOffset('-0300').format('D/M/YYYY'); %>" data-toggle="modal" data-target="#myModal2" >
		  							
			  							<div class="cuadrado ">'							
										    <h5 class="center centerh5"><%= data.localidad %></h5>
										    <p class="center fecha"><%= moment(data.hora_prox_turno).format('D/M/YYYY HH:mm'); %></p>
	    								</div>
    								</a> 
    							</div>
							<% }); %>				 
				</div>
			</div>
			  
	 	</div>	

		

	</section>

	
    
    
    <div id="myModal2" class="modal fade meet-us" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    
	    	<a href="#" class="close" data-dismiss="modal" aria-hidden="true">
			<span class="fa fa-close close-1"></span>
			<span class="fa fa-close close-2"></span>
		</a>
		<div class="modal-body">
			<div class="container">
				<div class="row modal-body-content">
					
					<div class="col-md-6 col-md-offset-3 contact">	
			            <h2>SOLICITAR TURNO</h2>
			            <h4 >Recuerde, el turno es un compromiso de asistencia.</h4>
			            <h4 class="ocul">El valor es de <span>$700</span> por animal (incluye, perro o gato, hembra o macho).</h4>
			        
			        	<form  id="contactform"  >
			                <input type="text" id="nombre" name="name" class="input" placeholder="Apellido y Nombre">
			                <input type="number" id="telefono" name="telefono" class="input" placeholder="Telefono">
							<input type="email" id="email" name="email" class="input" placeholder="Email">
							<input type="number" id="dni" name="dni"  class="input" placeholder="DNI">

							<h4>Datos del/los animal/es:</h4>

							<select class="form-control" id="tipo">
							   <option>Seleccione Animal</option>
							   <option>PERRA</option>
							   <option>PERRO</option>
							   <option>GATA</option>
							   <option>GATO</option>
							</select>

							<select class="form-control" id="peso">
							    <option>Seleccione Peso Aprox.</option>
							    <option>Menos de 30 Kg</option>
							    <option>Mas de 30 Kg</option>
							</select>

							<select class="form-control" id="cantidad">
							    <option>Cantidad de animales</option>
							    <option>1</option>
							</select>

							<label>¿Cree que su animal esta preñada?<input type="checkbox" name="preniado" id="preniado"></label>


							<button class="button" type="submit" value="Send" id="submit">
								<span class="fa fa-hand-o-right submit-1"></span>
			                    <span class="submit-2">Solicitar un turno</span>
							</button>
						</form>


						<div class="success-message-2"></div>
			            <div class="error-message-2"></div>  		
					</div>     
						
				
				</div>
				
			</div>
	    
		
	    
	
    </div>   


 
	<!-- Javascript -->
    <script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/detectmobilebrowser.js"></script>
    
    <script type="text/javascript" src="js/supersized.3.2.7.min.js"></script>
	<script type="text/javascript" src="js/supersized.shutter.min.js"></script>
	<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="js/jquery.scrollTo.min.js"></script>
	<script type="text/javascript" src="js/jquery.countdown.js"></script>
    <script type="text/javascript" src="js/waypoints.min.js"></script>
    <script type="text/javascript" src="js/images.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>
  
  
</body>
</html>
