<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]>
<!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-126131032-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-126131032-1');
</script>
    <meta charset="utf-8" />
    <!-- Website Title & Description -->
    <title>Organizacion Love Animals | Castraciones a bajo costo</title>
    <meta property="og:title" content="Organizacion Love Animals | Confirme su Turno">
    <meta property="og:image" content="https://castraciones-218323.appspot.com/img/logo.png">
    <meta property="og:description" content="Ingrese para confirmar su turno.">
    <meta name="description" content="Asociacion Love Animals | Castraciones a bajo costo">
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- Included CSS Files -->
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../../css/supersized.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="../../css/supersized.shutter.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/animate.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/responsive.css">
    <!-- JS Files -->
    <script type="text/javascript" src="../../js/modernizr.js"></script>
    <script type="text/javascript" src="../../js/device.min.js"></script>
    <!-- Google Web Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Exo:200,400,600' rel='stylesheet' type='text/css'>
</head>

<body>
    <section class="home-content confirmacion-turno">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div id="home">
                        <img id="logo" src="../../img/logo.png" alt="">
                        <% if (cliente.confirmado=='0') { -%>
                        <h2 class="center text-dark">Hola <%= cliente.nombre %>, su Turno esta CANCELADO!</h2>
                        <p>Debera sacar uno nuevo si lo desea.</p>
                        <p> <a class="empresa" href="https://castraciones-218323.appspot.com/castraciones" ><button type="button" class="btn btn-success ">SACAR TURNO</button> </a></p>
                        <% } else if (cliente.confirmado=='1'){ -%>
                        <h2 class="center text-dark">Hola <%= cliente.nombre %>, su Turno esta confirmado!</h2>
                        <p>Puede cancelarlo si lo desea.</p>
                        <p> <a class="empresa" href="https://castraciones-218323.appspot.com/castraciones/cancelarTurno/<%= (cliente.id); %>" ><button type="button" class="btn btn-danger ">CANCELO</button> </a></p>
                        <p>Le recordamos que puede entrar al link que recibio por Whatsapp las veces que lo requiera.</p>
                        <br>
                        <p><b>Fecha: </b>
                            <%= moment(cliente.hora).format('D/M/YYYY'); %> a las
                            <%= moment(cliente.hora).format('HH:mm'); %>
                        </p>
                        <p><b>Direccion: </b><span><%= jornada.direccion %></span></p>
                        <p><b>Zona: </b>
                            <%= (jornada.localidad); %>
                        </p>
                        <hr>
                        <table class="table table-bordered">
                          
                          <tbody>
                            <tr>
                              <th scope="row">Cantidad de animales:</th>
                              <td><%= cliente.animal.cantidad %></td>
                              
                            </tr>
                            <tr>
                              <th scope="row">Precio por animal:</th>
                              <td>$<%= jornada.precio %></td>
                              
                            </tr>
                           
                              <% if (cliente.animal.peso == 'Menos de 30 Kg') { -%>
                                
                                <tr>
                                   <th scope="row"><h3>Total:</h3></th>
                                   <td><h3>$<%= jornada.precio * cliente.animal.cantidad %></h3></td>
                              <% } else { -%>
                                    <tr>
                                        <th scope="row">Adicional por peso mayor a 30kg. <small>Por 1 (un animal).</small></th>
                                        <td>$<%= veterinario.adicional %></td>  
                                    </tr>
                                    <tr>
                                        <th scope="row"><h3>Total:</h3></th>
                                        <td><h3>$<%= (jornada.precio * cliente.animal.cantidad) + parseInt(veterinario.adicional) %></h3></td>
                                    
                              <% } -%>
                              
                                                                  
                            </tr>
                          </tbody>
                        </table>
                         <h3><%= jornada.observacion %></h3>
                        <hr>
                        <h3>MUY IMPORTANTE: Cuidados para antes de la cirugia.</h3>
                        <h4>Ayuno: 12hs sólido y 10hs de líquido.</h4>
                        <p>Una manta, frazada o toalla para cubrirlo una vez que es operado.</p>
                            <% if (cliente.animal.tipo=='GATO' || cliente.animal.tipo=='GATA') { -%>
                            <p>GATOS/AS : concurrir con collar y transportarlo en donde ud. quiera(mochila, bolso transportador, etc) pero debe llevar una bolsa de red o arpillera SI o SI para ingresar a cirugía (son las bolsas de cebolla y se consiguen en forma gratuita o a muy bajo costo en verdulerias)</p>
                            <% } else { -%>
                            <p>PERROS/AS : deben venir con collar, correa y/o bozal SÓLO en caso de ser necesario.</p>
                            <% } -%>
                        <p>Tiempo estimado de cirugía: 60 a 90 minutos (Depende exclusivamente del animal y del ayuno que el dueño le haya dado al mismo) venir con tiempo y paciencia ya que el <b><br>TURNO ES MERAMENTE ORGANIZATIVO.</b></p>
                        <p><b>No ASISTIR ANTES.</b>
                            Pedimos compromiso y seriedad. Recuerde que es una campaña masiva a bajo costo. </p>
                        <p><b>La Jornada no se suspende por lluvia.</b></p>
                        <% }

                        else { -%>
                        <h2 class="center text-dark">Hola <%= cliente.nombre %>, necesitamos que confirme o cancele su turno!</h2>
                        <p> <a class="empresa" href="https://castraciones-218323.appspot.com/castraciones/cancelarTurno/<%= (cliente.id); %>" ><button type="button" class="btn btn-danger ">CANCELO</button> </a><a class="empresa" id="confirmaTurno" data-id="<%= cliente.id %>"  href="#" ><button type="button" id="btnConfirmo" class="btn btn-success verde">CONFIRMO</button> </a></p>
                        <p>Le recordamos que puede entrar al link que recibio por Whatsapp las veces que lo requiera.</p>
                        <br>
                        <p><b>Fecha: </b>
                            <%= moment(cliente.hora).format('D/M/YYYY'); %> a las
                            <%= moment(cliente.hora).format('HH:mm'); %>
                        </p>
                        <p><b>Direccion: </b><span><%= jornada.direccion %></span></p>
                        <p><b>Zona: </b>
                            <%= (jornada.localidad); %>
                        </p>
                        <hr>
                        <!-- <h3><b>Precio: $<span><%= jornada.precio %> por animal.</span></b></h3>
                        <h3><b>Adicional: $<span>200 </span></b>por que su mascota pesa as de 30 kilos.</h3>
                        <h3><b>Precio: $<span><%= jornada.precio %> por animal.</span></b></h3>
                        <h3><%= jornada.observacion %></h3> -->

                        <table class="table table-bordered">
                          
                          <tbody>
                            <tr>
                              <th scope="row">Cantidad de animales:</th>
                              <td><%= cliente.animal.cantidad %></td>
                              
                            </tr>
                            <tr>
                              <th scope="row">Precio por animal:</th>
                              <td>$<%= jornada.precio %></td>
                              
                            </tr>
                           
                              <% if (cliente.animal.peso == 'Menos de 30 Kg') { -%>
                                
                                <tr>
                                   <th scope="row"><h3>Total:</h3></th>
                                   <td><h3>$<%= jornada.precio * cliente.animal.cantidad %></h3></td>
                              <% } else { -%>
                                    <tr>
                                        <th scope="row">Adicional por peso mayor a 30kg. <small>Por 1 (un animal).</small></th>
                                        <td>$<%= veterinario.adicional %></td>  
                                    </tr>
                                    <tr>
                                        <th scope="row"><h3>Total:</h3></th>
                                        <td><h3>$<%= (jornada.precio * cliente.animal.cantidad) + parseInt(veterinario.adicional) %></h3></td>
                                    
                              <% } -%>
                              
                                                                  
                            </tr>
                          </tbody>
                        </table>
                         <h3><%= jornada.observacion %></h3>
                        <hr>
                        <h3>MUY IMPORTANTE: Cuidados para antes de la cirugia.</h3>
                        <h4>Ayuno: 12hs sólido y 10hs de líquido.</h4>
                        <p>Una manta, frazada o toalla para cubrirlo una vez que es operado.</p>
                            <% if (cliente.animal.tipo=='GATO' || cliente.animal.tipo=='GATA') { -%>
                            <p>GATOS/AS : concurrir con collar y transportarlo en donde ud. quiera(mochila, bolso transportador, etc) pero debe llevar una bolsa de red o arpillera SI o SI para ingresar a cirugía (son las bolsas de cebolla y se consiguen en forma gratuita o a muy bajo costo en verdulerias)</p>
                            <% } else { -%>
                            <p>PERROS/AS : deben venir con collar, correa y/o bozal SÓLO en caso de ser necesario.</p>
                            <% } -%>
                        <p>Tiempo estimado de cirugía: 60 a 90 minutos (Depende exclusivamente del animal y del ayuno que el dueño le haya dado al mismo) venir con tiempo y paciencia ya que el <b><br>TURNO ES MERAMENTE ORGANIZATIVO.</b></p>
                        <p><b>No ASISTIR ANTES.</b>
                            Pedimos compromiso y seriedad. Recuerde que es una campaña masiva a bajo costo. </p>
                        <p><b>La Jornada no se suspende por lluvia.</b></p>
                        <% } -%>
                        <hr>
                        <!-- <button type="button" class="btn btn-danger ">Cancelar TURNO</button> -->
                        <p>Por cualquier consulta enviar un mail a <i>info@castraciones.com.ar</i></p>
                        <p>Muchas gracias.</p>
                        <p><a class="empresa" href="http://www.castraciones.com.ar">Organizacion Love Animals.</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Javascript -->
    <script type="text/javascript" src="../../js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="../../bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../js/detectmobilebrowser.js"></script>
    <script type="text/javascript" src="../../js/supersized.3.2.7.min.js"></script>
    <script type="text/javascript" src="../../js/supersized.shutter.min.js"></script>
    <script type="text/javascript" src="../../js/scripts.js"></script>
</body>

</html>